{% extends 'base.html' %}
{% load static %}

{% block title %}BookCrossing - Подробная информация о книге{% endblock title %}

{% block content %}
    <div class="container mt-5">
        <div class="row">
            <div class="col-md-4">
                {% if book.image %}
                    <img src="{% static book.image %}" class="card-img-top book-image" alt="{{ book.title }}">
                {% else %}
                    <img src="{% static 'img/no-image.jpg' %}" class="card-img-top book-image" alt="{{ book.title }}">
                {% endif %}
            </div>
            <div class="col-md-8">
                <h1>{{ book.title }}</h1>
                <h4>Автор: {{ book.author }}</h4>
                <p class="text-muted">Категории: {{ book.category }}</p>
                <p>Год создания: {{ book.year }}</p>
                <p>ISBN: {{ book.ISBN }}</p>
                <h4>Описание:</h4>
                <p>{{ book.description|linebreaksbr }}</p>
                <h4>Местоположение:</h4>
                <p>{{ book.place }}</p>
            </div>
        </div>
    </div>
{% endblock content %}
